<div class="container">

  <div ng-include="'components/navbar/navbar.html'"></div>
  <div ng-include="'components/personal/personal.html'"></div>
  <hr>

  <div class="footer">
    <p>With ♥ from <a href="https://twitter.com/Swiip">@Swiip</a></p>
  </div>

</div>
